 div {
    display: flex;
    border: 3px solid black;
    justify-content: space-around;
    align-content: center;
    flex-flow: wrap;
    gap: 30px;
    }

.pref {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid black;
    padding: 5px;
}
.pref2 {
    display: flex;
    border: 3px solid black;
    justify-content: space-around;
    align-content: center;
    flex-flow: wrap;
    gap: 30px;
    width: 20%;
    height: 200px;
}